body {
  background-image: url('images/background-img.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.container {
  max-width: 900px;
  margin: auto;
}

h1,
h2 {
  text-align: center;
  color: yellowgreen;
}
.txt-container {
  background-color: rgb(71, 47, 47);
  border-radius: 1em;
}

.btn-container {
  text-align: center;
  padding: 5em;
}

.btn-container a button {
  font-size: large;
  margin: 1em;
  cursor: pointer;
  border-radius: 0.3em;
  border: none;
  background-color: aqua;
  padding: 3em;
}

.btn-container button:hover {
  background-color: yellow;
}

.btn-container button a {
  text-decoration: none;
  color: black;
}
