body {
  /*background-color: #ccc;*/
    background-image: url('images/background-img.png');
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;  
}

.instruction {
  text-align: center;
  color: yellow;
  font-weight: 900;
  font-size: 30px;
  margin-top: 0%;
}

a {
  color: white;
  text-decoration: none;
  font-size: larger;
}

a:hover{
  color: red;
}

.selections {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.selection {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 5rem;
  transition: 100ms;
  margin-bottom: 70px;
}

.selection:hover {
  transform: scale(1.2);
}

.computer-score-container {
  color: yellow;
  font-weight: 900;
  font-size: larger;
}

.you-score-container {
  color: yellow;
  font-weight: 900;
  font-size: larger;
}

.game-container {
  max-width: 900px;
  margin: auto;
  height: auto;
}

.display-container {
  display: flex;
  justify-content: center;
  gap: 100px;
  
}

.winner {
  text-align: center;
  background-color: rgb(71, 47, 47);
  border-radius: 1em;
}
.winner p {
  color: yellowgreen;
  font-weight: 900;
}

.btn {
  border-radius: 0.3em;
}

.round span {
  font-size: 5em;
}
